<mat-card class="center" *ngIf="task">
  <mat-card-header>
    <div mat-card-avatar>
      <span class="material-icons">
        work
      </span>
    </div>
    <mat-card-title>{{ task.task_id }}</mat-card-title>
    <mat-card-subtitle>{{ task.status }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ task.description }}
    </p>
    <p>Requester: {{ task.requester }}</p>
    <p>Creation Date: {{ task.creation_date  | date :  "dd-MM-yyyy hh:m:ss"}}</p>
    <p>Last Update Date: {{ task.last_update_date  | date :  "dd-MM-yyyy hh:m:ss"}}</p>
  </mat-card-content>
  <mat-card-footer>
    <div style="margin-left: 15px;">Progress: {{ progressVal }}%</div>
    <mat-progress-bar
      mode="determinate"
      value="{{ progressVal }}"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-table
  [dataSource]="subtasks"
  class="mat-elevation-z8"
  *ngIf="subtasks.length != 0"
>
  
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> Subtask ID </mat-header-cell>
    <mat-cell *matCellDef="let subtask"> {{ subtask.subtask_id }} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="Description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let subtask"> {{ subtask.description }} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let subtask">
      <mat-icon>{{
        subtask.status == "Done" ? "done" : "clear"
      }}</mat-icon></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="Creation Date">
    <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
    <mat-cell *matCellDef="let subtask"> {{ subtask.creation_date }} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<button
  mat-fab
  color="warn"
  class="btn-fab-bottom-right"
  aria-label="Add Task"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
